
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="slider_bar">
                    <div class="slider_header">
                        <img src="~/assets/img/images/logo.png" alt="">
                        <span>MTA UPDATE</span>
                    </div>
                    <div class="slider_item">
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Trang chủ</a></li>
                            <li><a href="@Url.Action("Phanmem", "Home")"><i class="fas fa-th"></i> Phần mềm</a></li>
                            <li><a href="@Url.Action("BanCapNhat", "Home")"><i class="fas fa-home"></i> Bản cập nhật</a></li>
                            <li><a href=""><i class="fas fa-th"></i> Người dùng</a></li>
                            <li><a href=""><i class="fas fa-home"></i> Chính sách mật khẩu</a></li>
                            <li><a href=""><i class="fas fa-th"></i> Email</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-10">
                <header>
                    <div class="form_search">
                        <input type="text" placeholder="Tìm kiếm">
                        <button class="btn"><i class="fas fa-search"></i></button>
                        <div class="header_icon">
                            <i class="far fa-bell"></i>
                            <span>7</span>
                        </div>
                    </div>
                    <div class="header_account">
                        <a href=""><img src="~/assets/img/images/avatar-2.png" alt=""></a>
                        <a href=""><span>Admin</span></a>
                    </div>
                </header>
                @RenderBody()
            </div>
           
        </div>

       
    </div>
   <script src="~/assets/js/script.js"></script>
</body>
</html>