
@{
    ViewBag.Title = "Maytinh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-2">
        <div class="col mb-0"><h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Máy tính</h4></div>
        <div class="col mb-0">
            <button style="margin: 10px auto auto 370px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                <span class="tf-icons bx bx-plus-circle"></span>&nbsp; Thêm mới
            </button>
        </div>
    </div>
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>                        
                        <th>Tên máy</th>
                        <th>Hệ điều hành</th>
                        @*<th>MAC</th>*@
                        <th>IP</th>
                        <th>Trạng thái</th>
                        @*<th>Lỗ hổng</th>*@
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody id="table" class="table-border-bottom-0">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Thông tin máy tính</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="name" class="form-label">Tên máy</label>
                        <input type="text" id="name" class="form-control" placeholder="Nhập tên" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="OS" class="form-label">Hệ điều hành</label>
                        <input type="text" id="OS" class="form-control" placeholder="Nhập hệ điều hành" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="MAC" class="form-label">MAC</label>
                        <input type="text" id="MAC" class="form-control" placeholder="Nhập MAC" />
                    </div>
                    <div class="col mb-0">
                        <label for="IP" class="form-label">IP</label>
                        <input type="text" id="IP" class="form-control" placeholder="Nhập IP" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#maytinh").addClass("active");
        if ($("#dashboard").hasClass("active")) {
            $("#dashboard").removeClass("active");
        }
        if ($("#phanmem").hasClass("active")) {
            $("#phanmem").removeClass("active");
        }
        $("#CVE").removeClass("active");
        loadData();
    });
    function loadData() {
        var table = $("#table");
        $.ajax({
            url: "https://localhost:44351/api/MayTinh",
            method: "GET",
            data: "",
            contentType: "application/json",
            dataType: ""
        }).done(function (response) {
            $.each(response, function (index, item) {
                var style, status;
                if (item.DaCapNhat == true) {
                    style = "badge bg-label-success me - 1";
                    status = "Complete";
                }
                else {
                    style = "badge bg-label-warning me - 1";
                    status = "Pending";
                }
                var row = `<tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>`+ item.TenMT + `</strong></td>
                        <td>`+ item.HDH +`</td>
                        <td>`+ item.IP +`</td>
                        <td><span class="`+style+`">`+status+`</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editModal"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>`
                table.append(row);
            })                
        }).fail(function (response) { });
    }
    
</script>


