
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="page_content">
    <div class="row">
        <div class="col-lg-8">
            <h4>DANH SÁCH MÁY TÍNH</h4>
            <div class="computer">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cart_body">
                            <div class="cart_body_icon">
                                <img src="~/assets/img/images/logo.png" alt="">
                                <h4>Tiểu đoàn 1</h4>
                                <img class="img_arlet" src="~/assets/img/images/Security_1.png" alt="">
                            </div>
                            <div class="cart_body_number">
                                <a href=""><span style="color: red;">7</span>/10 Máy tính chưa cập nhật </a>
                            </div>
                            <div style="text-align:right">
                                <a href="#result" onclick="load('d1')" >Xem danh sách <i class="fas fa-angle-double-right"></i> </a>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="cart_body">
                            <div class="cart_body_icon">
                                <img src="~/assets/img/images/logo.png" alt="">
                                <h4>Khoa hóa lý<br /> kỹ thuật</h4>
                                <img class="img_arlet" src="~/assets/img/images/matt-icons_security-low1.png" alt="">
                            </div>
                            <div class="cart_body_number">
                                <a href=""><span style="color: red;">7</span>/10 Máy tính chưa cập nhật </a>
                            </div>
                            <div style="text-align:right">
                                <a href="">Xem danh sách <i class="fas fa-angle-double-right"></i> </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart_body">
                            <div class="cart_body_icon">
                                <img src="~/assets/img/images/logo.png" alt="">
                                <h4>Tiểu đoàn 1</h4>
                            </div>
                            <div class="cart_body_number">
                                <a href=""><span style="color: red;">7</span>/10 Máy tính chưa cập nhật </a>
                            </div>
                            <div style="text-align:right">
                                <a href="">Xem danh sách <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart_body">
                            <div class="cart_body_icon">
                                <img src="~/assets/img/images/logo.png" alt="">
                                <h4>Tiểu đoàn 1</h4>
                            </div>
                            <div class="cart_body_number">
                                <a href=""><span style="color: red;">7</span>/10 Máy tính chưa cập nhật </a>
                            </div>
                            <div style="text-align:right">
                                <a href="">Xem danh sách <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart_body">
                            <div class="cart_body_icon">
                                <img src="~/assets/img/images/logo.png" alt="">
                                <h4>Tiểu đoàn 1</h4>
                            </div>
                            <div class="cart_body_number">
                                <a href=""><span style="color: red;">7</span>/10 Máy tính chưa cập nhật </a>
                            </div>
                            <div style="text-align:right">
                                <a href="">Xem danh sách <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart_body">
                            <div class="cart_body_icon">
                                <img src="~/assets/img/images/logo.png" alt="">
                                <h4>Tiểu đoàn 1</h4>
                            </div>
                            <div class="cart_body_number">
                                <a href=""><span style="color: red;">7</span>/10 Máy tính chưa cập nhật </a>
                            </div>
                            <div style="text-align:right">
                                <a href="">Xem danh sách <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

        <div class="col-lg-4">
            <div class="cve_list">
                <h4>LỖ HỔNG MỚI</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Phần mềm</th>
                            <th scope="col">CVE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Update.ViewModels.CVE_NEW y in ViewBag.CVE)
                        {
            <tr>
                <th scope="row" class="stt">1</th>
                <td>@y.tenPhanMem</td>
                <td class="cve_number">@y.maCVE</td>

            </tr>
}


                    </tbody>
                </table>
            </div>
        </div>
        <div id="result"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
    });
    function load(donvi) {
        url = 'Home/_Partialview/' + donvi;
        $("#result").load(url);
    }
</script>

